APP_NAME=MyPortfolio
APP_ENV=production
APP_KEY=base64:T1uWmp/GLH1aM9fkUpqTtN4VncbWk9eMIX8jw7G1rlU=
APP_DEBUG=false
APP_URL=https://your-render-url.onrender.com

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306


BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

WEBROOT=/var/www/html/public